.container {
    padding-top: 5px;
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.icon {
    margin-right: 10px;
}

.imgPoster {
    width: 300px;
}

.descriptionWrapper {
    padding-left: 20px;
    padding-top: 70px;
}